#header {
    background: url("../images/headerbg.png") repeat-x scroll 0 0 #FFFFFF; /*0 0 代表左上角*/
    /*background:<image> <repeat> <attachment> <position> <color>
      <attachment>如果你设置值为fixed，那么当你向下滚动页面时，内容向下滚动了，
      而背景不会跟着滚动。结果就好像内容向上在滚动。当然，如果你设值为scroll，背景就会滚动了。
    */
    height: 105px;
}
#header .contWidth{
     position: relative; /*position?*/
     height: 105px;
     width: 990px;
     margin: 0 auto;
     z-index: 100;
}
#header .logo{
    float: left;
    margin: 0 0 0 10px;
    color:#FFF;
    line-height: 80px;
}
#header .search{
    left: 198px;
    top:20px;
    position: absolute;
}
#skin{
    float: right;
    margin: 10px;
    padding: 4px;
    width: 120px;
}
#skin li{
    margin-right: 4px;
    width: 15px;
    height: 15px;
    overflow: hidden;
    display: block;
    cursor: pointer;
    float: left;
    text-indent: -9999px;
    background-image: url("../images/theme.gif");
    /*float:left 使li元素横向排列,然后利用"text-indent：-9999px"使文字显示到看不见的区域,
    然后再给li元素添加背景，背景是预先合并好的，然后可以节省网站HTTP请求
    */
}
#skin_0 { background-position:0px 0px; }
#skin_1 { background-position:15px 0px; }
#skin_2 { background-position:35px 0px; }
#skin_3 { background-position:55px 0px; }
#skin_4 { background-position:75px 0px; }
#skin_5 { background-position:95px 0px; }
#skin_0.selected { background-position:0px 15px; }
#skin_1.selected { background-position:15px 15px; }
#skin_2.selected { background-position:35px 15px; }
#skin_3.selected { background-position:55px 15px; }
#skin_4.selected { background-position:75px 15px; }
#skin_5.selected { background-position:95px 15px; }


.mainNav {
    position: absolute;
    top: 68px;
    left: 0px;
    height: 37px;
    line-height: 37px;
    width: 990px;
    z-index: 100;
    background-color: #4A4A4A;
}
.mainNav .nav{
    float: left;
    display: inline;
    margin-left: 25px;
}
.mainNav ul li{
    float: left;
    display: inline;
    margin-right: 14px;
    position: relative;
    z-index: 100;
}
.mainNav ul li a{
    display: block;
    padding: 0 8px;
    font-weight: 700;
    color:#fff;
    font-size: 14px;
}
.jnNav{
    background: #FFFFFF;
    border: 1px solid #B1B1B1;
    border-top: 0;
    overflow: hidden;
    position: absolute;
    top: 37px;
    left: 0px;
    width: 474px;
    z-index: 1000;
    display: none;
}
.jnNav .subitem{
    float: left;
    height: auto !important;
    min-height: 100px;
    padding: 10px 12px;
    width: 450px;
}
.jnNav .subitem dl{
    border-top: 1px dashed #C4C4C4;
    overflow: hidden;
    padding: 8px 0;
    float: left;
}
.jnNav .subitem dt{
    float: left;
    font-weight: bold;
    line-height: 16px;
    padding: 4px 3px;
    text-align: center;
    width: 76px;
}
.jnNav .subitem dd{
    float: left;
    overflow: hidden;
    padding: 0;
    width: 364px;
}
/*content内容的样式*/
#content{
    clear: left;
    margin: 0 auto;
    position: relative;
    width: 990px;
}
.janeshop{
    height: 560px;
    overflow: hidden;
    padding: 10px 0;
}
#jnCatalog{
    float: left;
    height: 560px;
    margin: 0 11px 0 0;
    overflow: hidden;
    width: 187px;
}
#jnImageroll{
    float: left;
    height: 320px;
    margin: 0 11px 0 0;
    overflow: hidden;
    position: relative;
    width: 550px;
}
#jnNotice{
    float: left;
    height: 321px;
    overflow: hidden;
    width: 230px;
}
#jnBrand{
    float: left;
    height: 230px;
    margin: 10px 0 0;
    overflow: hidden;
    width: 790px;
}
#inCatalog{
    float: left;
    height: 560px;
    margin: 0 11px 0 0;
    overflow: hidden;
    width: 187px;
}
#jnCatalog h2{
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 12px;
    text-indent: 13px;
    background-color: #6E6E6E;
}
.jnCatainfo{
    border: 1px solid #6E6E6E;
    height: 524px;
    overflow: hidden;
    padding: 5px 10px 0;
    width: 165px;
}
.jnCatainfo h3{
    border-bottom: 1px solid #EEEEEE;
    height: 24px;
    line-height: 24px;
    width: 164px;
}
.jnCatainfo ul{
    float: left;
    padding: 0 2px 8px; /*0:上 2：左右 8:下*/
}
.jnCatainfo li{
    color:#AEAEAE;
    float: left;
    height: 24px;
    line-height: 24px;
    width: 79px;
    overflow: hidden;
    position: relative;
}
.jnCatainfo li a{
    color: #444444;
}
.jnCatainfo li a:hover{
    color:#008CD7;
    text-decoration: none;
    /* none	默认。定义标准的文本。
    underline	定义文本下的一条线。
    overline	定义文本上的一条线。
    line-through	定义穿过文本下的一条线。
    blink	定义闪烁的文本。
    inherit	规定应该从父元素继承 text-decoration 属性的值。
    */
}
.jnCatainfo li a.promoted{
    /*注意什么时候空格*/
    color:#F9044E;
}
.jnCatainfo li.hot{
    background: url("../images/hot.gif") no-repeat scroll 0 0 ;
    height: 16px;
    position: absolute;
    top: 0;
    width: 21px;
}
#jnImageroll{
    float: left;
    height: 320px;
    margin: 0 11px 0 0;
    overflow: hidden;
    width: 550px;
}
#jnImageroll img{
    position: absolute;
    left: 0;
    top: 0;
}
#jnImageroll div{
    bottom: 0;
    overflow: hidden;
    position: absolute;
    float: left;
}
#jnImageroll div a{
    background-color: #444444;
    color: #ffffff;
    display: inline-block;
    float: left;
    height: 32px;
    margin-right: 1px;
    overflow: hidden;
    padding: 5px 15px;
    text-align: center;
    width: 79px;
}
#jnImageroll div a:hover{
    text-decoration: none;
}
#jnImageroll div a em{
    cursor: pointer;
    display: block;
    height: 16px;
    overflow: hidden;
    width: 79px;
}
#jnImageroll .last{
    margin: 0;
    width: 80px;
}
#jnImageroll a.chos{
    background: url("../images/adindex.gif") no-repeat center 39px #37A7D7;
    color: #FFFFFF;
}
/* 最新动态 */
#jnNotice{
    float: left;
    height: 321px;
    overflow: hidden;
    width: 230px;
}
#jnMiaosha {
    float: left;
    height: 176px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 230px;
}
.JS_css3 img {
    -webkit-transition:1s all;
    -moz-transition:1s all;
    -o-transition:1s all;
    transition:1s all;
}
.JS_css3:hover img {
    -webkit-transform:rotate(720deg);
    -moz-transform:rotate(720deg);
    -o-transform:rotate(720deg);
    transform:rotate(720deg);
}
/*
transition: property duration timing-function delay;
transition-property	规定设置过渡效果的 CSS 属性的名称。
transition-duration	规定完成过渡效果需要多少秒或毫秒。
transition-timing-function	规定速度效果的速度曲线。
transition-delay	定义过渡效果何时开始
*/
#jnNoticeInfo {
    float: left;
    border: 1px solid #DFDFDF;
    height: 133px;
    overflow: hidden;
    width: 228px;
}
#jnNoticeInfo h2 {
    height: 23px;
    line-height: 23px;
    border-bottom: 1px solid #DFDFDF;
    text-indent:12px;
}
#jnNoticeInfo ul {
    float: left;
    padding: 6px 2px 0 12px;
}
#jnNoticeInfo li {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}
#jnNoticeInfo li a{
    color:#666666;
}
#jnNoticeInfo li a:hover{
    color: #008CD7;
    text-decoration: none;
}
/* 品牌活动 */
#jnBrand {
    float: left;
    height: 230px;
    margin: 10px 0 0;
    overflow: hidden;
    width: 790px;
}
#jnBrandTab {
    border-bottom: 1px solid #E4E4E4;
    height: 29px;
    position: relative;
    width: 790px;
    float: left;
}
#jnBrandTab h2 {
    height: 29px;
    line-height: 29px;
    left: 0;
    position: absolute;
    width: 100px;
}
#jnBrandTab ul {
    position: absolute;
    right: 0;
    top: 10px;
}
#jnBrandTab li {
    float: left;
    margin: 0 10px 0 0;
}
#jnBrandTab li a {
    background-color: #E4E4E4;
    color: #000000;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
}
#jnBrandTab .chos {
    background: url("../images/chos.gif") no-repeat scroll 50% bottom transparent;
    padding-bottom: 3px;
}
#jnBrandTab .chos a {
    background-color: #FA5889;
    color: #FFFFFF;
    outline: 0 none;
}
#jnBrandContent {
    float: left;
    height: 188px;
    overflow: hidden;
    margin: 8px 5px;
    width: 790px;
    position: relative;
}
#jnBrandList {
    position: absolute;
    left: 0;
    top: 0;
    width: 3200px;
}
#jnBrandContent li {
    float: left;
    height: 188px;
    overflow: hidden;
    padding: 0 5px;
    position: relative;
    width: 185px;
}
#jnBrandContent li img {
    left: 5px;
    position: absolute;
    top: 0;
}
#jnBrandContent li span {
    background-color: #EFEFEF;
    bottom: 0;
    color: #666666;
    display: inline-block;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 183px;
}
#jnBrandContent li a {
    color:#666666;
}
#jnBrandContent li a:hover{
    color: #008CD7;
    text-decoration: none;
}